*{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;

}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:#3a3b66; */
}

.nav-main{
  display: flex;
  margin: 20px;
  width: 100vw;
}

.nav-btn{
  font-size: 18px;
  padding: 0 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.left-nav{
width: 75%;
margin-left: 50px;
}

.right-nav{
  display: flex;
  width: 25%;
  justify-content: end;
  margin-right: 50px;
}

.register{
  background-color: #27AE5F;
  padding: 13px 16px;
  color: white;
  border-radius: 10px;
}



.input-main{
  width: 40%;
  padding: 15px;  
  border: 0; 
  border-radius: 5px;    
  background-color: #F5F5F5;
}

.input-main::placeholder{
  font-size: 18px;
  color: #b8b8b8;
}

