@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SingInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - backend</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/backend.styles.css" asp-append-version="true" />
</head>
<body>

<div class="main">
    <header>
            <nav class="nav-main">
                <div class="left-nav">
                    <a class="nav-btn">Mais</a>
                    <a class="nav-btn" href="/">Home</a>
                    <a class="nav-btn" href="/Posts">Posts</a>
                    <a class="nav-btn">Blog</a>
                    <a class="nav-btn">Conta</a>
                    <input type="text" id="search-all" class="input-main" placeholder="Como centralizar uma div">

                </div>
                <div class="right-nav">
                    <a class="nav-btn" href="/Account/LoginView">Login</a>
                    <a class="nav-btn register" href="/Account/RegisterView">Register</a>
                </div>
            </nav>
    </header>  




        @RenderBody()
</div>  
</div>  



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
