<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - backend</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/backend.styles.css" asp-append-version="true" />
</head>
<body>
    
<div class="main">
    <div class="header">
        <nav class="nav-main">
            <a class="left-btn">Mais</a>
            <a class="nav-btn" href="/">Home</a>
            <a class="nav-btn"  href="/Posts">Posts</a>
            <a class="nav-btn">Blog</a>
            <a class="right-btn">Conta</a>
        </nav>

        <input type="text" class="search-main" placeholder="Como centralizar uma div">
    </div>  


    
            @RenderBody()
      
</div>  
   


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
