@using SafeCode.Models
@model LoginViewModel


<div>

    <form method="Post">
        <input type="text" asp-for="Email" placeholder="Digite seu Email">
        <input type="text" asp-for="Password" placeholder="Digite sua Senha">
        <button type="submit"> enviar </button>
    </form>

</div>