@using SafeCode.Models
@model ApplicationUser


@if (Model != null)
{
    <div class="body">
        <div class="left-container">
            <div class="img"></div>
            <h3> @Model.UserName</h3> 
        </div>
        <div class="row-container">
            <div class="center-container">
                <div class="options-left">
                     <a class="options">Meus Posts</a>
                </div>
                <div class="options-right">
                </div>
            </div>
            <div class="down-container">
                <div class="max">
                    
                  
                    
                    @foreach (var item in Model.Iquestions)
                        {

                            @if(item == null)
                            {
                                <h2 class="not-found">Nenhum post encontrado</h2>
                            }
                            else{
                                <div class="posts-container-main">
                                    <h2 class="titleQ">@item.Title</h2> 
                                    <div class="deleteDiv">

                                    <form class="submit-form" method="post">
                                    <input asp-controller="Account" asp-action="DeletePost" asp-route-id="@item.Id" type="submit" class="danger" value="deletar post">
                                    </form>  
                                    </div>
                                </div>
                            }
                            
                        } 
                </div> 
            </div>
        </div>
    </div>
}
 


<style>
    .deleteDiv{
    width: 20%;
    display: flex;
}

.not-found{
    color:white;
    text-align: center;
}

.submit-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.danger{
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    background-color: #fff;
}

.danger:hover{
    background-color: lightcoral;
    border: none;
    color: white;

}

.titleQ{
    width: 80%;
    
}
</style>