@using SafeCode.Models
@model RegisterViewModel


<div>

    <form method="Post">
        <input type="text" asp-for="Name" placeholder="Digite seu Nome">
        <input type="text" asp-for="Email" placeholder="Digite seu Email">
        <input type="text" asp-for="Password" placeholder="Digite sua Senha">
        <input type="text" asp-for="ConfirmPassword" placeholder="Confirme sua Senha">
        <input type="text" asp-for="UserQId" placeholder="userId">
        <button type="submit"> reg </button>
    </form>

</div>