/* _content/backend/Views/Home/index.cshtml.rz.scp.css */
*[b-e868cy2ctn]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.introduction-container[b-e868cy2ctn]{
  
  display: flex;
  width: 100%;
  height: 700px;
  /* background-color: #F5F5F5; */
  font-family: 'DM Sans', sans-serif;
  /* border-radius: 20px; */

}

.left-container[b-e868cy2ctn]{
  width: 70%;

}

.right-container[b-e868cy2ctn]{
  width: 30%;
  margin-top: 60px;

}

.right-container-main[b-e868cy2ctn]{
  width: 55%;
  margin-top: 50px;
  text-align: center;
  padding: 30px 50px;
  /* background-color: #262626; */
  border-radius: 10px;
  color: #262626;
  border: 2px solid #262626;

}

.right-container-main h1[b-e868cy2ctn]{
  margin-top: 170px;
  padding: 20px;
  font-size: 18px;
  /* background-color: #FFCC00; */
  border: 2px solid #262626;
  border-radius:10px;
  padding: 20px 20px;
  color: black;

  
}

.SafeCode[b-e868cy2ctn]{
  color: #27AE5F;
}


.introduction-container-title[b-e868cy2ctn]{
  font-size: 41px;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 50px;
  color: black;
}

.introduction-container-content[b-e868cy2ctn]{
  font-size: 18px;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 20px;
  color: black;   
}


/* footer */

footer[b-e868cy2ctn]{
  height: 300px;
  background-color: #262626;
}
/* _content/backend/Views/Home/Pergunta.cshtml.rz.scp.css */
#form[b-pt2k13enk5]{
    width: 70%;
    background-color: #F5F5F5;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
}

#post-form[b-pt2k13enk5]{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100px;
}

h3[b-pt2k13enk5]{
    padding-left: 13px;
    font-size: 30px;
    padding-bottom: 20px;
}

#post-form input[b-pt2k13enk5]{
    width: 90%;
    padding: 13px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    display: flex;
}

label[b-pt2k13enk5]{
font-size: 17px;
padding: 0;
padding-left: 20px;
}


#submit[b-pt2k13enk5]{
    width: 10%;
    background-color: #3a3b66;
    color: white;
    text-align: center;
}

#code[b-pt2k13enk5]{
    height: 300px;
}

/* _content/backend/Views/Posts/PostsByIdView.cshtml.rz.scp.css */
*[b-ptp2oyile6]{
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}


.main[b-ptp2oyile6]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header[b-ptp2oyile6]{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:#3a3b66; */
}

.nav-main[b-ptp2oyile6]{
    display: flex;
    margin: 20px;
    width: 100%;
}

.nav-btn[b-ptp2oyile6]{
    font-size: 18px;
    padding: 0 10px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.left-nav[b-ptp2oyile6]{
width: 80%;
margin-left: 50px;
}

.right-nav[b-ptp2oyile6]{
    display: flex;
    width: 20%;
    justify-content: end;
    margin-right: 50px;
}

.register[b-ptp2oyile6]{
    background-color: #27AE5F;
    padding: 13px 16px;
    color: white;
    border-radius: 10px;
}



.input-main[b-ptp2oyile6]{
    width: 40%;
    padding: 15px;  
    border: 0; 
    border-radius: 5px;    
    background-color: #F5F5F5;
}

.input-main[b-ptp2oyile6]::placeholder{
    font-size: 18px;
    color: #b8b8b8;
}


/* -----------filtertags ------------- */

main[b-ptp2oyile6]{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filter-container[b-ptp2oyile6]{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
}

.filter-container-title[b-ptp2oyile6]{
    font-size: 25px;
    padding-bottom: 20px;
}

.filter-tag-container[b-ptp2oyile6]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag[b-ptp2oyile6]{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

.role[b-ptp2oyile6]{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

.role2[b-ptp2oyile6]{
    border-bottom: 2px solid #F5F5F5; 
    width: 40%;
}


.make-btn[b-ptp2oyile6]{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 600px;
    margin-top: 20px;
    
}

.make-btn a[b-ptp2oyile6] {
    padding: 20px 20px;
    background-color: #27AE5F;
    border-radius: 5px;
    color: white;
}

/* ------------ question container -------------- */


.bar-main[b-ptp2oyile6]{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bar-main a[b-ptp2oyile6]  {
    padding: 10px 20px;
}


.left[b-ptp2oyile6]{
width: 30%;
}

.center[b-ptp2oyile6]{
width: 30%;
text-align: center;
background-color: #F5F5F5;
border-radius: 10px;
padding: 13px 10px;
}

.center a[b-ptp2oyile6]{
cursor: pointer;

}


.right[b-ptp2oyile6]{
padding: 13px 10px;
width: 30%;
}

.right a[b-ptp2oyile6] {
    background-color: #27AE5F;
    color: white;
    padding: 15px;
    border-radius: 4px;
    
}

#tags-language[b-ptp2oyile6], #tags-framework[b-ptp2oyile6], #tags-database[b-ptp2oyile6], #tags-others[b-ptp2oyile6]{
    /* background-color: #f5f5f5; */
    margin-top: 5px;
    width: 40%;
    border-radius: 20px;
    display: none;
    justify-content: center;
    
}

.tags-container[b-ptp2oyile6]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding-top: 15px;
    text-align: center;
    
}

#tags-language a[b-ptp2oyile6], #tags-framework a[b-ptp2oyile6], #tags-database a[b-ptp2oyile6], #tags-others a[b-ptp2oyile6]{
    padding: 10px 15px;
    margin: 7px 7px;
    border: 0.5px solid #262626;
    border-radius: 5px;
    text-decoration: none;
}

a[b-ptp2oyile6]{
    text-decoration: none;
}


.questions-main[b-ptp2oyile6]{
    width: 50%;
    margin-top: 100px;
    /* background-color: #27AE5F; */
    display: flex;
}

.question-container[b-ptp2oyile6]{
    width: 100%;
    display: flex;    
    height: 80px;
}

.left-question[b-ptp2oyile6]{
    margin-top: 20px;
    /* background-color: #262626; */
    width: 6%;
}

.img[b-ptp2oyile6]{
    background-color: #27AE5F;
    width: 90%;
    height: 50px;
    margin-left: 40%;
}

.name-img[b-ptp2oyile6]{
    margin-left: 40%;
    padding-top: 4px;
text-align: center;
}

.right-question[b-ptp2oyile6]{
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
}

.title[b-ptp2oyile6]{
font-size: 22px;

}

.tags-question[b-ptp2oyile6]{
    margin-top: 7px;
    margin-bottom: 15px;
  
}
.tags-question a[b-ptp2oyile6] {
    background-color: #27AE5F;
    padding: 8px;
    border-radius: 2px;
    color: white;
}

.more[b-ptp2oyile6]{
}
/* _content/backend/Views/Posts/PostsView.cshtml.rz.scp.css */
*[b-w9satbcn13]{
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}


.main[b-w9satbcn13]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header[b-w9satbcn13]{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:#3a3b66; */
}

.nav-main[b-w9satbcn13]{
    display: flex;
    margin: 20px;
    width: 100%;
}

.nav-btn[b-w9satbcn13]{
    font-size: 18px;
    padding: 0 10px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.left-nav[b-w9satbcn13]{
width: 80%;
margin-left: 50px;
}

.right-nav[b-w9satbcn13]{
    display: flex;
    width: 20%;
    justify-content: end;
    margin-right: 50px;
}

.register[b-w9satbcn13]{
    background-color: #27AE5F;
    padding: 13px 16px;
    color: white;
    border-radius: 10px;
}



.input-main[b-w9satbcn13]{
    width: 40%;
    padding: 15px;  
    border: 0; 
    border-radius: 5px;    
    background-color: #F5F5F5;
}

.input-main[b-w9satbcn13]::placeholder{
    font-size: 18px;
    color: #b8b8b8;
}


/* -----------filtertags ------------- */

main[b-w9satbcn13]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-container[b-w9satbcn13]{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
}

.filter-container-title[b-w9satbcn13]{
    font-size: 25px;
    padding-bottom: 20px;
}

.filter-tag-container[b-w9satbcn13]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag[b-w9satbcn13]{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

.role[b-w9satbcn13]{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

.role2[b-w9satbcn13]{
    border-bottom: 2px solid #F5F5F5; 
    width: 40%;
}


.make-btn[b-w9satbcn13]{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 600px;
    margin-top: 20px;
    
}

.make-btn a[b-w9satbcn13] {
    padding: 20px 20px;
    background-color: #27AE5F;
    border-radius: 5px;
    color: white;
}

/* ------------ question container -------------- */


.bar-main[b-w9satbcn13]{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bar-main a[b-w9satbcn13]  {
    padding: 10px 20px;
}


.left[b-w9satbcn13]{
width: 30%;
}

.center[b-w9satbcn13]{
width: 30%;
text-align: center;
background-color: #F5F5F5;
border-radius: 10px;
padding: 13px 10px;
}

.center a[b-w9satbcn13]{
cursor: pointer;

}


.right[b-w9satbcn13]{
padding: 13px 10px;
width: 30%;
}

.right a[b-w9satbcn13] {
    background-color: #27AE5F;
    color: white;
    padding: 15px;
    border-radius: 4px;
    
}

#tags-language[b-w9satbcn13], #tags-framework[b-w9satbcn13], #tags-database[b-w9satbcn13], #tags-others[b-w9satbcn13]{
    /* background-color: #f5f5f5; */
    margin-top: 5px;
    width: 40%;
    border-radius: 20px;
    display: none;
    justify-content: center;
    
}

.tags-container[b-w9satbcn13]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding-top: 15px;
    text-align: center;
    
}

#tags-language a[b-w9satbcn13], #tags-framework a[b-w9satbcn13], #tags-database a[b-w9satbcn13], #tags-others a[b-w9satbcn13]{
    padding: 10px 15px;
    margin: 7px 7px;
    border: 0.5px solid #262626;
    border-radius: 5px;
}


.questions-main[b-w9satbcn13]{
    width: 50%;
    margin-top: 100px;
    /* background-color: #27AE5F; */
    display: flex;
}

.question-container[b-w9satbcn13]{
    width: 100%;
    display: flex;    
    height: 80px;
}

.left-question[b-w9satbcn13]{
    margin-top: 20px;
    /* background-color: #262626; */
    width: 6%;
}

.img[b-w9satbcn13]{
    background-color: #27AE5F;
    width: 90%;
    height: 50px;
    margin-left: 40%;
}

.name-img[b-w9satbcn13]{
    margin-left: 40%;
    padding-top: 4px;
text-align: center;
}

.right-question[b-w9satbcn13]{
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
}

.title[b-w9satbcn13]{
font-size: 22px;



}

a[b-w9satbcn13]{
    text-decoration: none;
}

.tags-question[b-w9satbcn13]{
    margin-top: 7px;
    margin-bottom: 15px;
  
}
.tags-question a[b-w9satbcn13] {
    background-color: #27AE5F;
    padding: 8px;
    border-radius: 2px;
    color: white;
}

.more[b-w9satbcn13]{
}
/* _content/backend/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-guihv28zom]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;

}

.main[b-guihv28zom]{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header[b-guihv28zom]{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F5F5F5;
}

.nav-main[b-guihv28zom]{
  display: flex;
  margin: 20px;
  width: 97vw;
}

.nav-btn[b-guihv28zom]{
  font-size: 18px;
  padding: 10px 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.left-nav[b-guihv28zom]{
width: 75%;
margin-left: 50px;
}

.right-nav[b-guihv28zom]{
  display: flex;
  width: 25%;
  justify-content: end;
  margin-right: 50px;
}

.register[b-guihv28zom]{
  background-color: #27AE5F;
  padding: 13px 16px; 
  color: white;
  border-radius: 10px;
}



.input-main[b-guihv28zom]{
  width: 40%;
  padding: 15px;  
  border: 0; 
  border-radius: 5px;    
  background-color: #F5F5F5;
}

.input-main[b-guihv28zom]::placeholder{
  font-size: 18px;
  color: #b8b8b8;
}

