/* _content/backend/Views/Home/index.cshtml.rz.scp.css */
*[b-e868cy2ctn]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.introduction-container[b-e868cy2ctn]{
  
  display: flex;
  width: 100%;
  height: 700px;
  /* background-color: #F5F5F5; */
  font-family: 'DM Sans', sans-serif;
  /* border-radius: 20px; */

}

.left-container[b-e868cy2ctn]{
  width: 70%;

}

.right-container[b-e868cy2ctn]{
  width: 30%;
  margin-top: 60px;

}

.right-container-main[b-e868cy2ctn]{
  width: 55%;
  margin-top: 50px;
  text-align: center;
  padding: 30px 50px;
  /* background-color: #262626; */
  border-radius: 10px;
  color: #262626;
  border: 2px solid #262626;

}

.right-container-main h1[b-e868cy2ctn]{
  margin-top: 170px;
  padding: 20px;
  font-size: 18px;
  /* background-color: #FFCC00; */
  border: 2px solid #262626;
  border-radius:10px;
  padding: 20px 20px;
  color: black;

  
}

.SafeCode[b-e868cy2ctn]{
  color: #27AE5F;
}


.introduction-container-title[b-e868cy2ctn]{
  font-size: 41px;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 50px;
  color: black;
}

.introduction-container-content[b-e868cy2ctn]{
  font-size: 18px;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 20px;
  color: black;   
}


/* footer */

footer[b-e868cy2ctn]{
  height: 300px;
  background-color: #262626;
}
/* _content/backend/Views/Posts/PostsByIdView.cshtml.rz.scp.css */

*[b-ptp2oyile6]{
    margin: 0;

}

.filter-container[b-ptp2oyile6]{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
    margin-bottom: 149px;
}

.filter-container-title[b-ptp2oyile6]{
    font-size: 25px;
}

.filter-tag-container[b-ptp2oyile6]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag[b-ptp2oyile6]{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

a[b-ptp2oyile6]{
    text-decoration: none;
    color: black;
}

.role[b-ptp2oyile6]{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

/* ------------ question container -------------- */

.ask-container[b-ptp2oyile6]{
    position: absolute;
    margin-top: 470px;
    margin-left: 56%;
    padding: 18px ;
    background-color: lightblue;
}

.ask[b-ptp2oyile6]{
    font-size: 1.7em;
}

.perguntas[b-ptp2oyile6]{
   position: absolute;
   margin-top: 520px;
   padding-right: 65%;
   font-size: 2em ;
}

.main-containers[b-ptp2oyile6]{
    margin-top: 30px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;

}

.main-containers-area[b-ptp2oyile6]{

}

.profile-container[b-ptp2oyile6]{
    margin-top: 40.5px;
    width: 15%;
    height: 150px;
    background-color: tan;
}

.question-container[b-ptp2oyile6]{
    width: 100%;
    padding: 20px;
    margin-left: 1.5%;

    
}

.question-container-title[b-ptp2oyile6]{
    margin-top: 18px;
}

.question-container-content[b-ptp2oyile6]{
    padding-bottom: 25px;

}

.question-container-tags[b-ptp2oyile6]{
    padding: 10px;
    background-color: aqua;
}

.tags[b-ptp2oyile6]{
    padding: 12px 1%;
    background-color: lightcoral;
    width: 20px;
}

.tags a[b-ptp2oyile6] {
    text-align: center;
}

.comment-container[b-ptp2oyile6]{
    padding-top: 25px;
}
/* _content/backend/Views/Posts/PostsView.cshtml.rz.scp.css */

*[b-w9satbcn13]{
    margin: 0;

}

.filter-container[b-w9satbcn13]{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
    margin-bottom: 149px;
}

.filter-container-title[b-w9satbcn13]{
    font-size: 25px;
}

.filter-tag-container[b-w9satbcn13]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag[b-w9satbcn13]{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

a[b-w9satbcn13]{
    text-decoration: none;
    color: black;
}

.role[b-w9satbcn13]{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

/* ------------ question container -------------- */

.ask-container[b-w9satbcn13]{
    position: absolute;
    margin-top: 470px;
    margin-left: 56%;
    padding: 18px ;
    background-color: lightblue;

}

.ask[b-w9satbcn13]{
    font-size: 1.7em;
}

.perguntas[b-w9satbcn13]{
   position: absolute;
   margin-top: 520px;
   padding-right: 65%;
   font-size: 2em ;
}

.main-containers[b-w9satbcn13]{
    margin-top: 30px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;

}

.main-containers-area[b-w9satbcn13]{

}

.profile-container[b-w9satbcn13]{
    margin-top: 40.5px;
    width: 15%;
    height: 150px;
    background-color: tan;
}

.question-container[b-w9satbcn13]{
    width: 100%;
    padding: 20px;
    margin-left: 1.5%;

    
}

.question-container-title[b-w9satbcn13]{
    margin-top: 18px;
}

.question-container-content[b-w9satbcn13]{
    padding-bottom: 25px;

}

.question-container-tags[b-w9satbcn13]{
    padding: 10px;
    background-color: aqua;
}

.tags[b-w9satbcn13]{
    padding: 12px 1%;
    background-color: lightcoral;
    width: 20px;
}

.tags a[b-w9satbcn13] {
    text-align: center;
}

.comment-container[b-w9satbcn13]{
    padding-top: 25px;
}
/* _content/backend/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-guihv28zom]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;

}

.main[b-guihv28zom]{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header[b-guihv28zom]{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:#3a3b66; */
}

.nav-main[b-guihv28zom]{
  display: flex;
  margin: 20px;
  width: 100vw;
}

.nav-btn[b-guihv28zom]{
  font-size: 18px;
  padding: 0 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.left-nav[b-guihv28zom]{
width: 75%;
margin-left: 50px;
}

.right-nav[b-guihv28zom]{
  display: flex;
  width: 25%;
  justify-content: end;
  margin-right: 50px;
}

.register[b-guihv28zom]{
  background-color: #27AE5F;
  padding: 13px 16px;
  color: white;
  border-radius: 10px;
}



.input-main[b-guihv28zom]{
  width: 40%;
  padding: 15px;  
  border: 0; 
  border-radius: 5px;    
  background-color: #F5F5F5;
}

.input-main[b-guihv28zom]::placeholder{
  font-size: 18px;
  color: #b8b8b8;
}

