

<div class="main-container">
    <h2>Trabalhando nisso</h2>
    <a>Em breve</a>
    <br>
    <br>
    <img src="https://media.giphy.com/media/M9gbBd9nbDrOTu1Mqx/giphy.gif" width="350"/>
</div>

<style>
    .main-container{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h2{
        font-size: 32px;
        margin: 0;
        padding: 0;
    }
    a{
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
</style>