@using SafeCode.Models

@{
    ViewData["Title"] = "Home Page";
}



<div class="introduction-container">
    <div class="left-container">
         <h2 class="introduction-container-title">Bem vindo ao <span class="SafeCode">SafeCode</span></h2>
            <p class="introduction-container-content"> 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae totam adipisci 
                ab accusantium nulla consectetur iusto suscipit. Voluptatum molestiae iusto, repreh
                enderit illum ullam dicta harum aliquid architecto ad illo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae totam adipisci 
                ab accusantium nulla consectetur iusto suscipit. Voluptatum molestiae iusto, repreh
                enderit illum ullam dicta harum aliquid architecto ad illo.
            </p>  
    </div>

    <div class="right-container">
        <div class="right-container-main">
            <p class="p">
                orem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae totam adipisci 
                ab accusantium nulla consectetur iusto suscipit. Voluptatum molestiae iusto, repreh
                enderit illum ullam dicta harum aliquid architecto ad illo.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae totam adipisci 
                ab accusantium nulla consectetur iusto suscipit. Voluptatum molestiae iusto, repreh
                enderit illum ullam dicta harum aliquid architecto ad illo.
            </p>
            <a class="a" href="/Posts">Ver Posts</a>


        </div>  
    </div>
</div>


