@using SafeCode.Models
@model Question

@{
    ViewData["Title"] = "Pergunta Page";
}


<div id="form">
    <h3>Fazer uma pergunta</h3>
   <form id="post-form" method="post" asp-controller="Posts" asp-action="AddPost">
    <label> Qual sua duvida? </label>
    <input type="text" asp-for="Title" >
    <label> Fala mais sobre ela </label>
    <input type="text" asp-for="Description" >
    <label> Escreva seu codigo aqui</label>
    <input type="text" asp-for="CodeArea"  id="code">
    <label> Qual Categoria</label>
    <input type="text" asp-for="CategoriesId">
    <input type="submit" value="enviar" id="submit"> 

</form>
</div>
