*[b-guihv28zom]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;

}

.main[b-guihv28zom]{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header[b-guihv28zom]{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:#3a3b66; */
}

.nav-main[b-guihv28zom]{
  display: flex;
  margin: 20px;
  width: 100vw;
}

.nav-btn[b-guihv28zom]{
  font-size: 18px;
  padding: 0 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.left-nav[b-guihv28zom]{
width: 75%;
margin-left: 50px;
}

.right-nav[b-guihv28zom]{
  display: flex;
  width: 25%;
  justify-content: end;
  margin-right: 50px;
}

.register[b-guihv28zom]{
  background-color: #27AE5F;
  padding: 13px 16px;
  color: white;
  border-radius: 10px;
}



.input-main[b-guihv28zom]{
  width: 40%;
  padding: 15px;  
  border: 0; 
  border-radius: 5px;    
  background-color: #F5F5F5;
}

.input-main[b-guihv28zom]::placeholder{
  font-size: 18px;
  color: #b8b8b8;
}

