/* _content/backend/Views/Account/LoginView.cshtml.rz.scp.css */
*[b-cyhmi86i48]{
    margin: 0;
  font-family: 'DM Sans', sans-serif;
    
}

.main-container[b-cyhmi86i48]{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form[b-cyhmi86i48]{
    width: 25%;
    height: 500px;
}

form[b-cyhmi86i48]{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label[b-cyhmi86i48]{
    font-size: 19px;
    font-weight: 700;
    margin-top: 15px;
}

.aa[b-cyhmi86i48]{
    margin-top: 12px;
}

button[b-cyhmi86i48]{
    color: white;
    background-color: #27AE5F;
    padding: 15px;
    border-radius: 25px;
    margin-top: 25px;
    font-size: 18px;
    width: 100%;
    border: 0;
}

.alert[b-cyhmi86i48]{
    color: rgb(255, 31, 31);
    font-size: 25px;
    font-weight: 600;
}

h3[b-cyhmi86i48]{
    font-size: 40px;
    margin-top: 30px;
}

p[b-cyhmi86i48]{
    font-size: 19px;
    margin-bottom: 50px;
}

/* _content/backend/Views/Account/ProfileView.cshtml.rz.scp.css */

.input-main[b-goj7m16xu6]{
    width: 40%;
    padding: 15px;  
    border: 0; 
    border-radius: 5px;    
    background-color: #F5F5F5;
}

.input-main[b-goj7m16xu6]::placeholder{
    font-size: 18px;
    color: #b8b8b8;
}



.body[b-goj7m16xu6]{
    width: 100%;
    height: 91.3vh;
    display: flex;
    flex-wrap: wrap;
}

.left-container[b-goj7m16xu6]{
    width: 25%;
    height: 775px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #33345c;

}

.row-container[b-goj7m16xu6] {
    width: 71%;
}

.center-container[b-goj7m16xu6]{
    width: 100%;
    height: 65px;
    background-color: #27AE5F;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.down-container[b-goj7m16xu6]{
    background-color: #33345c;
    width: 100%;
    max-height: 700px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;


    
}

.img[b-goj7m16xu6]{
    display: flex;
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    margin-top:30px;
    border-radius: 100%;
}

h3[b-goj7m16xu6]{
    margin-top: 20px;
    font-size: 25px;
    color: whitesmoke    ;
}

.options[b-goj7m16xu6]{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.options-left[b-goj7m16xu6]{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0px;
    width: 92%;
    margin-left: 20px;
}

.options-right[b-goj7m16xu6]{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0px;
}

.posts-container-main[b-goj7m16xu6]{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 95%;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 20px;
    height: 100px;
    display: flex;
}



[b-goj7m16xu6]::-webkit-scrollbar {
    display: none;
}

.max[b-goj7m16xu6]{
    height: 10000px;
    padding-top: 5px;
}
/* _content/backend/Views/Account/RegisterView.cshtml.rz.scp.css */
*[b-ijvhnss7zw]{
    margin: 0;
  font-family: 'DM Sans', sans-serif;
    
}

.main-container[b-ijvhnss7zw]{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form[b-ijvhnss7zw]{
    width: 25%;
    height: 500px;
}

form[b-ijvhnss7zw]{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label[b-ijvhnss7zw]{
    font-size: 19px;
    font-weight: 700;
    margin-top: 15px;
}

button[b-ijvhnss7zw]{
    color: white;
    background-color: #27AE5F;
    padding: 15px;
    border-radius: 25px;
    margin-top: 25px;
    font-size: 18px;
    width: 100%;
    border: 0;

}


.aa[b-ijvhnss7zw]{
    margin-top: 8px;
}

h3[b-ijvhnss7zw]{
    font-size: 40px;
    margin-top: 30px;
}

p[b-ijvhnss7zw]{
    font-size: 19px;
    margin-bottom: 50px;
}

/* _content/backend/Views/Home/index.cshtml.rz.scp.css */
*[b-e868cy2ctn]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

.introduction-container[b-e868cy2ctn]{
  
  display: flex;
  width: 100%;
  height: 700px;
  /* background-color: #F5F5F5; */
  font-family: 'DM Sans', sans-serif;
  /* border-radius: 20px; */

}

.left-container[b-e868cy2ctn]{
  width: 70%;
}

.right-container[b-e868cy2ctn]{
  width: 30%;
  margin-top: 60px;

}

.right-container-main[b-e868cy2ctn]{
  width: 55%;
  margin-top: 50px;
  text-align: center;
  padding: 30px 50px;
  /* background-color: #262626; */
  border-radius: 10px;
  color: #262626;
  border: 2px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p[b-e868cy2ctn]{
  width: 100%;
}

.a[b-e868cy2ctn]{
  width: 100%;
  padding: 20px;
  font-size: 22px;
  /* background-color: #FFCC00; */
  border: 2px solid #262626;
  border-radius:10px;
  padding: 20px 20px;
  color: black;
  margin-top: 10%;
  text-decoration: none;

  
}

.SafeCode[b-e868cy2ctn]{
  color: #27AE5F;
}


.introduction-container-title[b-e868cy2ctn]{
  font-size: 41px;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 50px;
  color: black;
}

.introduction-container-content[b-e868cy2ctn]{
  font-size: 18px;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 20px;
  color: black;   
}


/* footer */

footer[b-e868cy2ctn]{
  height: 300px;
  background-color: #262626;
}
/* _content/backend/Views/Posts/Pergunta.cshtml.rz.scp.css */
*[b-2as318xsn1]{
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

#form[b-2as318xsn1]{
    width: 70%;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    padding-top: 0px;
}



h3[b-2as318xsn1]{
    padding-left: 13px;
    font-size: 30px;
    padding-bottom: 20px;
}



label[b-2as318xsn1]{
font-size: 19px;
padding: 0;
padding-left: 20px;
font-weight: 500;
}


#submit[b-2as318xsn1]{
    width: 10%;
    background-color: #3a3b66;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    font-size: 19px;
}

.tags[b-2as318xsn1]{
    margin: 15px;
    display: flex;
    width: 100%;
}

.tags-container a[b-2as318xsn1]{
    padding: 10px 15px;
    border: 0.5px solid #262626;
    border-radius: 5px;
    width: 6%;
    margin: 6px;
}

.tags-container[b-2as318xsn1]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* _content/backend/Views/Posts/PostsByIdView.cshtml.rz.scp.css */
*[b-ptp2oyile6]{
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}


.bar-main[b-ptp2oyile6]{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bar-main a[b-ptp2oyile6]  {
    padding: 10px 20px;
}


.left[b-ptp2oyile6]{
width: 30%;
}

.center[b-ptp2oyile6]{
width: 30%;
text-align: center;
background-color: #F5F5F5;
border-radius: 10px;
padding: 13px 10px;
}

.center a[b-ptp2oyile6]{
cursor: pointer;

}

.right[b-ptp2oyile6]{
padding: 13px 10px;
width: 30%;
}

.right a[b-ptp2oyile6] {
    background-color: #27AE5F;
    color: white;
    padding: 15px;
    border-radius: 4px;
    
}

#tags-language[b-ptp2oyile6], #tags-framework[b-ptp2oyile6], #tags-database[b-ptp2oyile6], #tags-others[b-ptp2oyile6]{
    /* background-color: #f5f5f5; */
    margin-top: 5px;
    width: 40%;
    border-radius: 20px;
    display: none;
    justify-content: center;
    
}

.tags-container[b-ptp2oyile6]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding-top: 15px;
    text-align: center;
    justify-content: center;

    
}

#tags-language a[b-ptp2oyile6], #tags-framework a[b-ptp2oyile6], #tags-database a[b-ptp2oyile6], #tags-others a[b-ptp2oyile6]{
    padding: 10px 15px;
    margin: 7px 7px;
    border: 0.5px solid #262626;
    border-radius: 5px;
}


.questions-main[b-ptp2oyile6]{
    width: 50%;
    margin-top: 100px;
    /* background-color: #27AE5F; */
    display: flex;
}

.question-container[b-ptp2oyile6]{
    width: 100%;
    display: flex;    
    height: 80px;
}

.right-question[b-ptp2oyile6]{
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
}

.title[b-ptp2oyile6]{
font-size: 20px;

}

a[b-ptp2oyile6]{
    text-decoration: none;
}

.tags-question[b-ptp2oyile6]{
    margin-top: 7px;
    margin-bottom: 15px;
  
}
.tags-question a[b-ptp2oyile6] {
    background-color: #27AE5F;
    padding: 8px;
    border-radius: 2px;
    color: white;
}

a[b-ptp2oyile6]{
    text-decoration: none;
    color: black;
}


.none[b-ptp2oyile6]{
    margin-top: 100px;
    font-weight: 700;
}
/* _content/backend/Views/Posts/PostsView.cshtml.rz.scp.css */
*[b-w9satbcn13]{
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}


.bar-main[b-w9satbcn13]{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bar-main a[b-w9satbcn13]  {
    padding: 10px 20px;
}


.left[b-w9satbcn13]{
width: 30%;
}

.center[b-w9satbcn13]{
width: 30%;
text-align: center;
background-color: #F5F5F5;
border-radius: 10px;
padding: 13px 10px;
}

.center a[b-w9satbcn13]{
cursor: pointer;

}

.right[b-w9satbcn13]{
padding: 13px 10px;
width: 30%;
}

.right a[b-w9satbcn13] {
    background-color: #27AE5F;
    color: white;
    padding: 15px;
    border-radius: 4px;
    
}

#tags-language[b-w9satbcn13], #tags-framework[b-w9satbcn13], #tags-database[b-w9satbcn13], #tags-others[b-w9satbcn13]{
    /* background-color: #f5f5f5; */
    margin-top: 5px;
    width: 40%;
    border-radius: 20px;
    display: none;
    justify-content: center;
    
}

.tags-container[b-w9satbcn13]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    padding-top: 15px;
    text-align: center;
    justify-content: center;

    
}

#tags-language a[b-w9satbcn13], #tags-framework a[b-w9satbcn13], #tags-database a[b-w9satbcn13], #tags-others a[b-w9satbcn13]{
    padding: 10px 15px;
    margin: 7px 7px;
    border: 0.5px solid #262626;
    border-radius: 5px;
}


.questions-main[b-w9satbcn13]{
    width: 50%;
    margin-top: 100px;
    /* background-color: #27AE5F; */
    display: flex;
}

.question-container[b-w9satbcn13]{
    width: 100%;
    display: flex;    
    height: 80px;
}

.right-question[b-w9satbcn13]{
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
}

.title[b-w9satbcn13]{
font-size: 20px;

}

a[b-w9satbcn13]{
    text-decoration: none;
}

.tags-question[b-w9satbcn13]{
    margin-top: 7px;
    margin-bottom: 15px;
  
}
.tags-question a[b-w9satbcn13] {
    background-color: #27AE5F;
    padding: 8px;
    border-radius: 2px;
    color: white;
}

a[b-w9satbcn13]{
    text-decoration: none;
    color: black;
}


.none[b-w9satbcn13]{
    margin-top: 100px;
    font-weight: 700;
}
/* _content/backend/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-guihv28zom]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;

}

.main[b-guihv28zom]{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header[b-guihv28zom]{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F5F5F5;
}

.nav-main[b-guihv28zom]{
  display: flex;
  margin: 20px;
  width: 97vw;
}

.nav-btn[b-guihv28zom]{
  font-size: 18px;
  padding: 10px 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.left-nav[b-guihv28zom]{
width: 75%;
margin-left: 50px;
}

.right-nav[b-guihv28zom]{
  display: flex;
  width: 25%;
  justify-content: end;
  margin-right: 50px;
}

.register[b-guihv28zom]{
  background-color: #27AE5F;
  padding: 13px 16px; 
  color: white;
  border-radius: 10px;
}



.input-main[b-guihv28zom]{
  width: 40%;
  padding: 15px;  
  border: 0; 
  border-radius: 5px;    
  background-color: #F5F5F5;
}

.input-main[b-guihv28zom]::placeholder{
  font-size: 18px;
  color: #b8b8b8;
}

