/* _content/backend/Views/Home/index.cshtml.rz.scp.css */
*[b-e868cy2ctn]{
    /* font-family: 'Source Code Pro', monospace; */
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
  
  }
  
  /* introduction-container */
  
  .introduction-container[b-e868cy2ctn]{
    width: 85%;
    height: 500px;
    background-color: #262626;
    font-family: 'DM Sans', sans-serif;
    border-radius: 20px;
  
  }
  
  .SafeCode[b-e868cy2ctn]{
    color: #FFCC00;
  }
  
  
  .introduction-container-title[b-e868cy2ctn]{
    font-size: 45px;
    padding-left: 5%;
    padding-right: 20%;
    padding-top: 50px;
    color: white;
  }
  
  .introduction-container-content[b-e868cy2ctn]{
    font-size: 21px;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 50px;
    color: white;   
  }
  
  
  /* redirection container */
  
  
  
  .redirection-container[b-e868cy2ctn]{
    /* background-color: #3a3b66; */
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .redirection-display-area[b-e868cy2ctn]{
    width: 80%;
    display: flex;
    flex-direction: center;
    height: 800px;
    margin-top: 300px;
  }
  
  .redirection-display[b-e868cy2ctn]{
    margin: 0 60px;
    background-color: #F5F5F5;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .redirection-display-title[b-e868cy2ctn]{
    font-size: 40px;
    text-align: center;
    padding-bottom:80px;
    padding-top:40px;
  }
  
  .redirection-display-content[b-e868cy2ctn]{
    padding: 0 10%;
    font-size: 20px;
  }
  
  .redirection-display-button[b-e868cy2ctn]{
    font-size: 22px;
    text-align: center;
    padding: 30px;
    background-color: #F5F5F5;
    margin-top: 60%;
    width: 40%;
    border: 2px solid #262626;
    transition: 0.7s ease-out;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .redirection-display-button:hover[b-e868cy2ctn]{
    transition: 0.5s ease-out;
    background-color: #FFCC00;
  }
  
  .role[b-e868cy2ctn]{
    position: absolute;
    margin-top: 720px;
    border-bottom: 2px solid #b8b8b8; 
    width: 90%;
  }
  
  
  /* footer */
  
  footer[b-e868cy2ctn]{
    height: 300px;
    background-color: #262626;
  }
/* _content/backend/Views/Posts/PostsByIdView.cshtml.rz.scp.css */

*[b-ptp2oyile6]{
    margin: 0;

}

.filter-container[b-ptp2oyile6]{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
    margin-bottom: 149px;
}

.filter-container-title[b-ptp2oyile6]{
    font-size: 25px;
}

.filter-tag-container[b-ptp2oyile6]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag[b-ptp2oyile6]{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

a[b-ptp2oyile6]{
    text-decoration: none;
    color: black;
}

.role[b-ptp2oyile6]{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

/* ------------ question container -------------- */

.ask-container[b-ptp2oyile6]{
    position: absolute;
    margin-top: 470px;
    margin-left: 56%;
    padding: 18px ;
    background-color: lightblue;
}

.ask[b-ptp2oyile6]{
    font-size: 1.7em;
}

.perguntas[b-ptp2oyile6]{
   position: absolute;
   margin-top: 520px;
   padding-right: 65%;
   font-size: 2em ;
}

.main-containers[b-ptp2oyile6]{
    margin-top: 30px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;

}

.main-containers-area[b-ptp2oyile6]{

}

.profile-container[b-ptp2oyile6]{
    margin-top: 40.5px;
    width: 15%;
    height: 150px;
    background-color: tan;
}

.question-container[b-ptp2oyile6]{
    width: 100%;
    padding: 20px;
    margin-left: 1.5%;

    
}

.question-container-title[b-ptp2oyile6]{
    margin-top: 18px;
}

.question-container-content[b-ptp2oyile6]{
    padding-bottom: 25px;

}

.question-container-tags[b-ptp2oyile6]{
    padding: 10px;
    background-color: aqua;
}

.tags[b-ptp2oyile6]{
    padding: 12px 1%;
    background-color: lightcoral;
    width: 20px;
}

.tags a[b-ptp2oyile6] {
    text-align: center;
}

.comment-container[b-ptp2oyile6]{
    padding-top: 25px;
}
/* _content/backend/Views/Posts/PostsView.cshtml.rz.scp.css */

*[b-w9satbcn13]{
    margin: 0;

}

.filter-container[b-w9satbcn13]{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
    margin-bottom: 149px;
}

.filter-container-title[b-w9satbcn13]{
    font-size: 25px;
}

.filter-tag-container[b-w9satbcn13]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag[b-w9satbcn13]{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

a[b-w9satbcn13]{
    text-decoration: none;
    color: black;
}

.role[b-w9satbcn13]{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

/* ------------ question container -------------- */

.ask-container[b-w9satbcn13]{
    position: absolute;
    margin-top: 470px;
    margin-left: 56%;
    padding: 18px ;
    background-color: lightblue;

}

.ask[b-w9satbcn13]{
    font-size: 1.7em;
}

.perguntas[b-w9satbcn13]{
   position: absolute;
   margin-top: 520px;
   padding-right: 65%;
   font-size: 2em ;
}

.main-containers[b-w9satbcn13]{
    margin-top: 30px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;

}

.main-containers-area[b-w9satbcn13]{

}

.profile-container[b-w9satbcn13]{
    margin-top: 40.5px;
    width: 15%;
    height: 150px;
    background-color: tan;
}

.question-container[b-w9satbcn13]{
    width: 100%;
    padding: 20px;
    margin-left: 1.5%;

    
}

.question-container-title[b-w9satbcn13]{
    margin-top: 18px;
}

.question-container-content[b-w9satbcn13]{
    padding-bottom: 25px;

}

.question-container-tags[b-w9satbcn13]{
    padding: 10px;
    background-color: aqua;
}

.tags[b-w9satbcn13]{
    padding: 12px 1%;
    background-color: lightcoral;
    width: 20px;
}

.tags a[b-w9satbcn13] {
    text-align: center;
}

.comment-container[b-w9satbcn13]{
    padding-top: 25px;
}
/* _content/backend/Views/Shared/_Layout.cshtml.rz.scp.css */
*[b-guihv28zom]{
  /* font-family: 'Source Code Pro', monospace; */
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;

}

html[b-guihv28zom]{
  padding: 0;
  margin: 0;
  border: 0;
}

.main[b-guihv28zom]{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header[b-guihv28zom]{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}

.nav-main[b-guihv28zom]{
  display: flex;
  margin: 20px;
  justify-content: center;
}

.nav-btn[b-guihv28zom]{
  font-size: 22px;
  padding: 0 10px;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 2 ease-out;

}

.nav-btn:hover[b-guihv28zom]{
  color: #FFCC00;
  transition: 2 ease-out;
}

.right-btn[b-guihv28zom]{
  position: absolute;
  margin-left: 35%;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.right-btn:hover[b-guihv28zom]{
  color: #FFCC00;
  transition: 2 ease-out;
}


.left-btn[b-guihv28zom]{
  position: absolute;
  margin-right: 35%;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.left-btn:hover[b-guihv28zom]{
  color: #FFCC00;
  transition: 2 ease-out;
}

.search-main[b-guihv28zom]{
  width: 40%;
  padding: 15px;  
  border: 0; 
  border-radius: 5px;    
  background-color: #F5F5F5;
}

.search-main[b-guihv28zom]::placeholder{
  font-size: 18px;
  color: #b8b8b8;
}

footer[b-guihv28zom]{
  height: 300px;
  background-color: #262626;
}
