*[b-cyhmi86i48]{
    margin: 0;
  font-family: 'DM Sans', sans-serif;
    
}

.main-container[b-cyhmi86i48]{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-form[b-cyhmi86i48]{
    width: 25%;
    height: 500px;
}

form[b-cyhmi86i48]{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label[b-cyhmi86i48]{
    font-size: 19px;
    font-weight: 700;
    margin-top: 15px;
}

.aa[b-cyhmi86i48]{
    margin-top: 12px;
}

button[b-cyhmi86i48]{
    color: white;
    background-color: #27AE5F;
    padding: 15px;
    border-radius: 25px;
    margin-top: 25px;
    font-size: 18px;
    width: 100%;
    border: 0;
}

.alert[b-cyhmi86i48]{
    color: rgb(255, 31, 31);
    font-size: 25px;
    font-weight: 600;
}

h3[b-cyhmi86i48]{
    font-size: 40px;
    margin-top: 30px;
}

p[b-cyhmi86i48]{
    font-size: 19px;
    margin-bottom: 50px;
}

