@using SafeCode.Models
@model Question

@{
    ViewData["Title"] = "Pergunta Page";
}

<div id="form" class="validation-summary-valid" data-valmsg-summary="true">
    <h3 >Faça uma pergunta</h3>
   <form method="post" asp-controller="Posts" asp-action="Pergunta">

    <label> Qual sua duvida? </label>
    <input type="text" asp-for="Title" >
    <span asp-validation-for="Title" class="span"></span>

    <label> Fale mais sobre ela: </label>
    <input type="text" asp-for="Description">
    <span asp-validation-for="Description" class="span"></span> 

     <input type="hidden" asp-for="CategoriesId">
    <label> Escreva seu codigo aqui:</label>

    <div class="code-area">
        <textarea type="text" asp-for="CodeArea" wrap="hard" class="code" spellcheck="false"></textarea>
    </div>
    <div class="tags">
        <div class="tags-container">
            <button type="button" class="tag" data-value="1">Java</button>
            <button type="button" class="tag" data-value="2">Csharp</button>
            <button type="button" class="tag" data-value="3">Python</button>
            <button type="button" class="tag" data-value="4">Kotlin</button>
            <button type="button" class="tag" data-value="5">Swift</button>
            <button type="button" class="tag" data-value="6">JavaScript</button>
            <button type="button" class="tag" data-value="7">C</button>
            <button type="button" class="tag" data-value="8">C++</button>
            <button type="button" class="tag" data-value="9">Php</button>
            <button type="button" class="tag" data-value="10">Ruby</button>
            <button type="button" class="tag" data-value="11">Css</button>
            <button type="button" class="tag" data-value="12">Html</button>
            <button type="button" class="tag" data-value="15">SQLServer</button>
            <button type="button" class="tag" data-value="16">MySQL</button>
            <button type="button" class="tag" data-value="17">PostgreSQL</button>
            <button type="button" class="tag" data-value="18">SQLite</button>
            <button type="button" class="tag" data-value="19">MongoDB</button>
            <button type="button" class="tag" data-value="20">FireBase</button>
            <button type="button" class="tag" data-value="21">AWS</button>
            <button type="button" class="tag" data-value="22">Azure</button>
            <button type="button" class="tag" data-value="23">MariaDB</button>
            <button type="button" class="tag" data-value="13">SQL</button>
            <button type="button" class="tag" data-value="14">NoSQL</button>
            <button type="button" class="tag" data-value="24">Outro</button>
        </div>
    </div>

    <input id="submit" type="submit">


</form>
</div>
</div>


<script>
  const buttons = document.querySelectorAll('.tag');
  const categoriesInput = document.querySelector('input[name="CategoriesId"]');

  buttons.forEach((button) => {
    button.addEventListener('click', (event) => {
      const button = event.currentTarget;
      const value = button.dataset.value;

      categoriesInput.value = value;
      buttons.forEach((b) => b.classList.remove('selected'));
      button.classList.add('selected');
    });
  });
</script>


<style>
    .code-area{
    height: 512px;
    width: 100%;
    background-color: #e7e7e7;
    border-radius: 20px;
}

.tag{
    padding: 10px 15px;
    border: 0.5px solid #262626;
    border-radius: 5px;
    margin: 6px;
    background-color: white;
}

.tag.selected{
    background-color: #27AE5F;
    outline: none;
    border: none;
    color: white;
}

.code{
    outline: 0;
    border: none;
    padding-bottom: 460px;
    width: 100%;
    overflow-y: scroll;
    max-width: 97%;
    margin: 10px; 
    font-size: 15px;
    color: #333;
    box-shadow: none;
    background-color: #e7e7e7;

}
form{
    display: flex;
    flex-direction: column;
    align-items: start;
}
form input{
    width: 97.5%;
    padding: 13px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    background-color: #e7e7e7;
    border: none;
    outline: 0;
}

.span{
    color: red;
    font-weight: 550;
}
</style>
