@using SafeCode.Models
@model Question

@{
    ViewData["Title"] = "Pergunta Page";
}

<div id="form" class="validation-summary-valid" data-valmsg-summary="true">
    <h3 >Faça uma pergunta</h3>
   <form method="post" asp-controller="Posts" asp-action="Pergunta">

    <label> Qual sua duvida? </label>
    <input type="text" asp-for="Title" >
    <span asp-validation-for="Title" class="span"></span>

    <label> Fale mais sobre ela: </label>
    <input type="text" asp-for="Description">
    <span asp-validation-for="Description" class="span"></span> 

    <input type="text" asp-for="CategoriesId">
    <label> Escreva seu codigo aqui:</label>

    <div class="code-area">
        <textarea type="text" asp-for="CodeArea" wrap="hard" class="code"></textarea>
    </div>
    <div class="tags">
        <div class="tags-container">
            <a >Java</a>
            <a >Csharp</a>
            <a >Python</a>
            <a >Kotlin</a>
            <a >Swift</a>
            <a >JavaScript</a>
            <a >C</a>
            <a >C++</a>
            <a >Php</a>   
            <a >Ruby</a>   
            <a >Css</a>   
            <a >Html</a>   
        </div>
    </div>

    <input id="submit" type="submit">


</form>
</div>
</div>


<style>
    .code-area{
    height: 512px;
    width: 100%;
    border: 1px solid #3a3b66;
}
.code{
    outline: 0;
    border: none;
    padding-bottom: 460px;
    width: 100%;
    overflow-y: scroll;
    max-width: 97%;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: start;
}
form input{
    width: 97.5%;
    padding: 13px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    border: 0.1px solid #3a3b66;
    outline: 0;
}

.span{
    color: red;
    font-weight: 550;
}
</style>
