
*{
    margin: 0;

}

.filter-container{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
    margin-bottom: 149px;
}

.filter-container-title{
    font-size: 25px;
}

.filter-tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

a{
    text-decoration: none;
    color: black;
}

.role{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

/* ------------ question container -------------- */

.ask-container{
    position: absolute;
    margin-top: 470px;
    margin-left: 56%;
    padding: 18px ;
    background-color: lightblue;
}

.ask{
    font-size: 1.7em;
}

.perguntas{
   position: absolute;
   margin-top: 520px;
   padding-right: 65%;
   font-size: 2em ;
}

.main-containers{
    margin-top: 30px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;

}

.main-containers-area{

}

.profile-container{
    margin-top: 40.5px;
    width: 15%;
    height: 150px;
    background-color: tan;
}

.question-container{
    width: 100%;
    padding: 20px;
    margin-left: 1.5%;

    
}

.question-container-title{
    margin-top: 18px;
}

.question-container-content{
    padding-bottom: 25px;

}

.question-container-tags{
    padding: 10px;
    background-color: aqua;
}

.tags{
    padding: 12px 1%;
    background-color: lightcoral;
    width: 20px;
}

.tags a {
    text-align: center;
}

.comment-container{
    padding-top: 25px;
}
