@using SafeCode.Models
@model IEnumerable<Question>

@{
    ViewData["Title"] = "PostsId Page";
}
    
    <div class="filter-container">
        <h2 class="filter-container-title">Buscar por categoria</h2>
            <div class="filter-tag-container">
                <a class="filter-tag"> Csharp </a>
                <a class="filter-tag"> dotnet</a>
                <a class="filter-tag"> javascript </a>
                <a class="filter-tag"> nodejs </a>
                <a class="filter-tag"> python </a>
                <a class="filter-tag"> ruby </a>
                <a class="filter-tag"> java </a>
                <a class="filter-tag"> css </a>
                <a class="filter-tag"> html </a>
                <a class="filter-tag"> kotlyn </a>
                <a class="filter-tag"> aspnet</a>
                <a class="filter-tag"> typescript</a>
                <a class="filter-tag"> Csharp </a>
                <a class="filter-tag"> dotnet</a>
                <a class="filter-tag"> javascript </a>
                <a class="filter-tag"> nodejs </a>
                <a class="filter-tag"> python </a>
                <a class="filter-tag"> ruby </a>
                <a class="filter-tag"> java </a>
                <a class="filter-tag"> css </a>
                <a class="filter-tag"> html </a>
                <a class="filter-tag"> kotlyn </a>
                <a class="filter-tag"> aspnet</a>
                <a class="filter-tag"> typescript</a>
            </div>
    </div>   
    <div class="ask-container">
        <a class="ask" href="/Pergunta">Faça uma pergunta</a>
    </div>
    <div class="role"></div>

    <h2 class="perguntas">Perguntas</h2>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
    <div class="main-containers">
        <div class="role2"></div>
        <div class="main-containers-area"></div>
            <div class="question-container">
                @* <h2 class="question-container-title">@item.User</h2> *@
                <h2 class="question-container-title">@item.Title</h2>
                <p class="question-container-content">@item.Description</p>
                @* <a class="question-container-tags">c#</a>
                <a class="question-container-tags">apnet</a>
                <a class="question-container-tags">entityFramework</a> *@
                <div class="comment-container">
                    <a>Ver comentarios</a>
                </div>
            </div>
        <div class="role2"></div>
    </div>
    }
}
else
{
    <p>nenhum post</p>
}
  

    
