@using SafeCode.Models
@model IEnumerable<QuestionCategory>

@{
    ViewData["Title"] = "Posts Page";
}

   
       

    <div class="bar-main">
        <div class="left">
        </div>
        <div class="center">
            <a onclick="mostrarTags('tags-language')">Linguagens</a>        
            <a onclick="mostrarTags('tags-framework')">frameworks</a>        
            <a onclick="mostrarTags('tags-database')">banco de dados</a>     
            <a onclick="mostrarTags('tags-others')">outros</a>  
        </div>
        <div class="right">
        <a href="/Pergunta">Faça uma pergunta</a>
        </div>
    </div>

    <div id="tags-language">
        <div class="tags-container">
            <a href="/Posts/1">Java</a>
            <a href="/Posts/7">JavaScript</a>
            <a href="/Posts/2">Csharp</a>
            <a href="/Posts/3">Kotlin</a>
            <a  href="/Posts/5">Python</a>
            <a href="/Posts/11">C</a>
            <a  href="/Posts/4">Csharp</a>
            <a href="/Posts/15">Csharp</a>
            <a href="/Posts/9">Css</a>   
            <a href="/Posts/10">Html</a>   
        </div>
    </div>

    <div id="tags-framework">
        <div class="tags-container">
           <a>identity</a>  
        </div>
    </div>

    <div id="tags-database">
        <div class="tags-container">
           <a>sql</a>
        </div>
    </div>

    <div id="tags-others">
        <div class="tags-container">
            <a>outros</a> 
        </div>
    </div>


@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
    <div class="questions-main">
        <div class="question-container">
            <div class="left-question">
                <div class="img"></div>
                <p class="name-img">Nome</p>
            </div>
            <div class="right-question">
                <a class="title">@item.question.Title</a>
                <div class="tags-question">
                     @if (item.category.CategoryName != null)
                    {
                        <a>@item.</a>
                    } 
                </div>
                <a class="more" href=""> ver mais</a>
            </div>
        </div>

        </div>
 
}}
else
{
    <p>nenhum post</p>
}


  <script>
         var currentTag;

            function mostrarTags(id) 
                {
            var tag = document.getElementById(id);

            if (currentTag) {
                currentTag.style.display = "none";
            }

            tag.style.display = "flex";
            currentTag = tag;
            }
   </script>


    
