

.filter-container{
    width: 70%;
    background-color: #f5f5f5;
    padding: 20px 30px;
    display: flex;
    flex-direction:column;
    height: 200px;
    margin-bottom: 149px;
}

.filter-container-title{
    font-size: 25px;
}

.filter-tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-tag{
    width: 24%;
    font-size: 16px;
    padding: 2px;
}

.role{
    position: absolute;
    margin-top: 450px;
    border-bottom: 2px solid #F5F5F5; 
    width: 80%;
}

.role2{
    border-bottom: 2px solid #F5F5F5; 
    width: 100%;
}


/* ------------ question container -------------- */

.ask-container{
    position: absolute;
    margin-top: 470px;
    margin-left: 56%;
}

.ask{
    font-size: 1.7em;
}

.perguntas{
   position: absolute;
   margin-top: 520px;
   padding-right: 65%;
   font-size: 2em ;
}

.main-containers{
    margin-top: 40px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

.main-containers-area{
    width: 100%;

}

.question-container{
    width: 100%;
    padding: 20px;
}

.question-container-title{
}

.question-container-content{
    padding-bottom: 25px;

}

.question-container-tags{
    padding: 10px;
    background-color: aqua;
}

.comment-container{
    padding-top: 25px;
}
