@using SafeCode.Models
@model List<UserQuestion>

@{
    ViewData["Title"] = "Posts Page";
}

   
    <div class="bar-main">
        <div class="left">
        </div>
        <div class="center">
            <a onclick="mostrarTags('tags-language')">Linguagens</a>        
            <a onclick="mostrarTags('tags-database')">banco de dados</a>     
            <a onclick="mostrarTags('tags-others')">outros</a>  
        </div>
        <div class="right">
        <a href="Pergunta">Faça uma pergunta</a>
        </div>
    </div>

    <div id="tags-language">
        <div class="tags-container">
          <a href="/Posts/1">Java</a>
            <a href="/Posts/2">Csharp</a>
            <a href="/Posts/3">Python</a>
            <a href="/Posts/4">Kotlin</a>
            <a  href="/Posts/5">Swift</a>
            <a href="/Posts/10">JavaScript</a>
            <a  href="/Posts/7">C</a>
            <a href="/Posts/8">C++</a>
            <a href="/Posts/9">Php</a>   
            <a href="/Posts/6">Ruby</a>   
            <a href="/Posts/11">Css</a>   
            <a href="/Posts/12">Html</a>   
        </div>
    </div>

    <div id="tags-database">
        <div class="tags-container">
           <a href="/Posts/15">SQLServer</a>
           <a href="/Posts/16">MySQL</a>
           <a href="/Posts/17">PostgreSQL</a>
           <a href="/Posts/18">SQLite</a>
           <a href="/Posts/19">MongoDB</a>
           <a href="/Posts/20">FireBase</a>
           <a href="/Posts/21">AWS</a>
           <a href="/Posts/22">Azure</a>
           <a href="/Posts/23">MariaDB</a>
           <a href="/Posts/13">SQL</a>
           <a href="/Posts/14">NoSQL</a>
        </div>
    </div>

    <div id="tags-others">
        <div class="tags-container">
            <a href="/Posts/24">API</a>
        </div>
    </div>


@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
    <div class="questions-main">
        <div class="question-container">
            <div class="left-question">
                <div class="img"></div>
                <p class="name-img">
                    @item.applicationUser.UserName
                </p>
            </div>
            <div class="right-question">
                <a class="title">@item.question.Title</a>
                <div class="tags-question">
                     @if (item.question.Categories != null)
                    {
                        <a>@item.question.Categories.</a>
                    } 
                </div>
                <a class="more" href=""> ver mais</a>
            </div>
        </div>

        </div>
 
}}
else
{
    <p class="none">nenhum post</p>
}


<script>
         var currentTag;

            function mostrarTags(id) 
                {
            var tag = document.getElementById(id);

            if (currentTag) {
                currentTag.style.display = "none";
            }

            tag.style.display = "flex";
            currentTag = tag;
            }
   </script>

  

    

    
